.grid-row {
  display: grid;
  width: max-content;
  grid-template-columns: repeat(2, 1fr) 2fr;
  margin: 1rem 0;
}

.row {
  display: flex;
  margin: 1rem;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 1rem;
}
