.grid-row {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.item-img {
  width: 200px;
}

.row {
  display: flex;
  align-items: center;
}

.last-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 4rem;
}

.car-desc {
  color: #b1b1b1;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.amount {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
}

.amount-row {
  display: flex;
  align-items: center;
}

.amount-btn {
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
}

.amount-btn:hover:enabled {
  cursor: pointer;
  background-color: #d3d3d3;
}

.amount-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
}

@media (max-width: 1000px) {
  .grid-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    flex-direction: column;
  }
  .item-img {
    height: 300px;
    width: auto;
  }
  .col {
    padding: 2rem;
  }
  .amount-row {
    display: flex;
  }
  .price {
    display: none;
  }
}
