<div *ngIf="isAuthenticated; else loginPage">
  <nav class="topnav">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/account']">Account</a>
    <a [routerLink]="['/cart']" class="cart-link">Cart</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<ng-template #loginPage>
  <app-login *ngIf="!createNewAccount; else registerPage" (registerBtnClick)="handleRegisterBtnClick()"></app-login>
  <ng-template #registerPage>
    <app-register (loginBtnClick)="handleLoginBtnClick()"></app-register>
  </ng-template>
</ng-template>
