.topnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width: 600px) {
  .topnav a {
    font-size: 1.1rem;
  }
}
