<div class="wrapper">
  <div class="products">
    <div class="panel">
      <app-search-bar
        class="panel-item"
        (searchQueryChange)="handleSearchQueryChange($event)">
      </app-search-bar>
      <div class="panel-row">
        <app-price-slider *ngIf="!loadingProducts"
          class="panel-item"
          [min]="minVal"
          [max]="maxVal"
          (applyBtnClick)="handleApplyBtnClick($event)">
        </app-price-slider>
        <app-price-sorter
          class="panel-item"
          (priceSort)="handlePriceSort($event)">
        </app-price-sorter>
      </div>
    </div>
    <div class="product-list">
      <div *ngFor="let product of filteredProducts" class="product-item">
        <app-product
          [product]="product"
          (productClick)="handleProductClick($event)">
        </app-product>
      </div>
    </div>
  </div>
</div>

