.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.products {
  width: 50%;
}

.panel {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .panel-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50%;
  }

  .panel-row {
    display: flex;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product-item {
  width: calc(30% - 1rem);
  margin: 1rem;
}

.panel-item {
  width: 50%;
  margin: 0 1rem;
}

.search-item {
  width: 100%;
}
