<form *ngIf="loginForm !== undefined" [formGroup]="loginForm" class="login-form ">
  <mat-form-field>
    <input
      matInput
      placeholder="Your username"
      formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Your password"
      formControlName="password">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
  <span *ngIf="!areCredentialsCorrect" style="color: red; margin-top: 1rem;">Invalid username or password</span>
  <div style="margin-top: 1rem;"><button mat-button color="accent" (click)="registerBtnClicked()">Don't have an account?</button></div>
</form>
