:host::ng-deep.mat-horizontal-content-container {
  background-color: #f6f9ff;
  padding: 0;
}

.left-div {
  width: 60%;
  padding: 1rem;
}

.cart-grid {
  display: grid;
  margin-top: 2rem;
  width: 100%;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.shop-now-btn {
  width: 15%;
}

.cart-item {
  color: #b1b1b1;
  text-transform: uppercase;
}

.divider {
  margin: 1rem 0;
  width: 100%;
}

.next-btn {
  width: 20% !important;
}

.flex-row {
  display: flex;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.summary-column {
  width: 40%;
  background-color: white;
  padding: 4rem;
}

.total {
  font-weight: bold;
  font-size: 1.5em;
}

.summary-heading {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

@media (max-width: 2000px) {
  .shop-now-btn {
    width: 30% !important;
  }
}

// @media (max-width: 1000px) {
//   .shop-now-btn {
//     width: 60% !important;
//   }
// }

@media (max-width: 1000px) {
  .shop-now-btn {
    width: 80% !important;
  }
  .flex-row {
    flex-direction: column;
  }
  .left-div {
    width: 100%;
    padding: 0;
  }
  .cart-grid {
    display: none;
  }
  .summary-column {
    width: 100%;
    padding: 1rem;
  }
}
