:host::ng-deep.mat-horizontal-content-container {
  background-color: #f6f9ff;
}

.cart-grid {
  display: grid;
  margin-top: 2rem;
  width: 60%;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.cart-item {
  color: #b1b1b1;
  text-transform: uppercase;
}

.divider {
  margin: 1rem 0;
  width: 60%;
}

.next-btn {
  width: 20% !important;
}
