.payment-wrapper {
  display: flex;
  margin-top: 2rem;
}

.wrapper {
  margin: 2rem 0;
}

.payment-column {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9ff;
}

.payment-card {
  width: 60%;
}

.summary-column {
  width: 40%;
  background-color: white;
  padding: 4rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.total {
  font-weight: bold;
  font-size: 1.5em;
}

.money-info {
  color: gray;
}

.credit-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.credit-card-item {
  width: 15%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid #d3d3d3;
  border-radius: 5px;
  padding: 1rem;

  img {
    width: 70%;
    height: auto;
  }
}

.credit-card-item:hover {
  cursor: pointer;
}

.unselected-card:hover {
  background-color: #d3d3d3;
}

.mat-badge-content {
  font-family: 'Material Icons';
}

.selected-card {
  background-color: rgba(0, 176, 255, 0.2);
  border: 2px solid rgb(0, 176, 255);
}

.payment-grid {
  display: grid;
  width: 100%;
  margin-top: 1rem;
  grid-template-columns: 3fr repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 5px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 2 / 1 / 3 / 4; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 3 / 2 / 4 / 3; }
.div5 { grid-area: 3 / 3 / 4 / 4; }
.div6 { grid-area: 4 / 1 / 5 / 2; }
.div7 { grid-area: 4 / 2 / 5 / 3; }
.div8 { grid-area: 4 / 3 / 5 / 4; }

.align-center {
  display: flex;
  align-items: center;
}

.ccv-tooltip {
  margin-left: 1rem;
  background-color: rgba(0, 176, 255, 0.2);
  color: rgb(0, 176, 255);
  border-radius: 50%;
}

.confirm-order-btn {
  width: 100%;
  margin-top: 2rem;
}

.payment-method {
  align-self: flex-start;
}

.check-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid green;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  color: green;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .credit-card-item {
    width: 35%;
    margin: 1rem 0;
  }
}


