<div class="product-card">
  <div class="img-container">
    <img class="product-img" [src]="'../../../assets/img/' + product?.imgUrl" alt="Lambo">
  </div>
  <div class="product-content">
    <p class="product-name">{{ product?.name }}</p>
    <p class="price">{{ product?.price | currency }}</p>
    <div class="star-row">
      <mat-icon *ngFor="let star of starArray" class="star-icon">star</mat-icon>
    </div>
    <button style="padding: .7em;" class="login-btn add-to-cart-btn"(click)="productClicked()">
      <span style="margin-right: .5rem;">Add to cart</span><mat-icon style="margin-left: .5rem;">shopping_cart</mat-icon></button>
  </div>
</div>


